{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "targets": "node 14.0"
}
